.natureBg   {
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.centerBox  {
   position: fixed;
   top: 12.5%;
   left: 2.5%;
   width: 95%;
   height: 82%;
}

.aboutBg {
   width: 100%;
   height: 100%;
   border-radius: 25px;
}

.about-header  {
   position: fixed;
   top: 6%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.8vw;
   color: white;
   margin: 0;
   padding: .1vw 1.6vw .1vw 1.6vw;
   border: 1px solid white;
}

h1 {
   margin: 0;
   padding: 0;
}

.about-descriptionBox   {
   width: 45%;
   height: 78.5%;
   position: absolute;
   top: 16%;
   left: 51%;
   text-align: left;
   font-size: 1.2vw;
   color: black;
}

.lead {
   text-indent: 2vw;
   margin: 0;
}

#lastLine   {
   text-align: center;
}
