<img [src]="pen" alt="pen writing on pad, has black ink" class="penBg" />

<h1 class="display-3">Writing Samples</h1>

<div class="content-container">
   <blockquote class="blockquote">
      Below you fill find a few examples of my projects that I created for
      the Hospitality Catering and Event Management class that was in charge of
      planning the Hospitality Gala 2020. Through these projects I have learned so
      much about communication and presentation. The writing samples include my group
      and my color scheme inspiration document that ended up being chosen as the Gala
      2020 color scheme, a centerpiece assignment that required us to find inspiration
      for our arrangements and quotes from different vendors, and lastly our MoodBoard
      that we created to present to the leadership team in hopes that it will be
      incorporated into the Gala for 2020.
   </blockquote>
</div>
