<img [src]="homeBg" alt="random selection of background photos" id="home-bg" />
<img [src] = "clouds" alt="clouds" class="clouds" />
<img [src]="forest" alt="forest tress" class="forest" />
<div class="page-header" id="header">
   <h1 class="display-1">Home</h1>
</div>
<img [src] = 'portrait' alt="Charlton Kam picture" class="portrait" />
<div id="homeTxtBox">
   <p class="lead">Student at Auburn University striving to help people bring their ideas to life.</p>
</div>
<img [src] = "quoteImg" alt="Charltons home page quote" id="quote" />
<img [src]="quote2" alt="Home page quote" class="quote2">
<p class="lead" id="quoteAuthor">
   -George Lorimer
</p>
